/* about */


.about {
    margin: 150px auto 100px;
    background-color: #222;
    padding: 2rem;
    border-radius: 1rem;
}

.title {
    display: flex;
}

.titleText {
    font-size: 50px;
    overflow: hidden;
}

.titleText:after {
    content: "";
    display: block;
    width: 100%;
    height: .4rem;
    margin-top: .5rem;
    background-color: #fff;
    transition: transform .2s linear;
}

.titleText:hover:after {
    transform: translateX(-100%);
}


.about__contain {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.about__item {
    position: relative;
    background: #363636;
}

.about__item,
.about__img img {
    width: 450px;
    height: 382px;
}

.about__item:hover .about__img {
    transform: translate3d(-1rem, -1rem, 0);
}

.about__item:hover .about__img img {
    opacity: 0.2;
}


.about__img {
    background: url('/lfyfone.jpg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    transition: transform 0.2s linear;
}

.about__img img {
    display: block;
    transition: opacity .2s linear;
}

.about__imgText {
    width: 100%;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.about__item:hover .about__imgText {
    opacity: 1;
}






.contain__offer {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.about__text p {
    font-size: 25px;
}



.section {
    min-height: 100vh;
    padding: 1rem 0;
    width: 100%;
}


.textShadow {
    box-shadow: 0px -2rem 2rem #222222;
}

.about__offer {
    padding: 3rem 0;
}


.about__offer p {
    text-align: center;
    font-size: 25px;
}

.text__links {
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}

.text__links:hover {
    color: #0d6efd;
}


/* btn */

.about__button {
    margin-top: 2rem;
}

.button {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.5rem;
    font-size: 20px;
    border-radius: .4rem;
    color: white;
    background: #dc3545;
    border: none;
    transition: opacity .2s linear;
}


.button:hover {
    opacity: .7;
}



/* @media screen and (max-width: 1200px) {
} */

@media screen and (max-width: 992px) {
    .about {
        margin: 120px auto 100px;
    }

    .about__contain {
        margin-top: 2.5rem;
    }

    .about__item,
    .about__img img {
        width: 350px;
        height: 300px;
    }

    .contain__offer {
        margin-left: 4rem;
    }

    .about__text p,
    .about__offer p {
        font-size: 20px;
    }

    .titleText {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .about__contain {
        flex-direction: column;
        align-items: start;
    }

    .contain__offer {
        margin: 1rem 0 0 0;
    }


    .title,
    .about__button {
        display: flex;
        justify-content: center;
    }

    .contain_img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .about__text {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .contain_img {
        margin: 0;
    }

    .about {
        margin: 200px auto 200px;
    }

    .about__contain {
        margin-top: 1.5rem;
    }

    .about__item {
        display: none;
    }

    .titleText {
        font-size: 30px;
    }

    .titleText:after {
        content: "";
        display: block;
        width: 100%;
        height: .3rem;
        margin-top: .5rem;
        background-color: #fff;
        transition: transform .2s linear;
    }

    .about__text p,
    .about__offer p {
        font-size: 18px;
    }

    .button {
        width: 5rem;
        height: 2.2rem;
        font-size: 18px;
    }

    .about__text {
        text-align: left;
    }

    .about__button {
        display: block;
    }
}