/* img  */

.header {
    background: url('/LFR.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 1rem 2rem #222222;
    -webkit-user-select: none;
    user-select: none;
}

.subHeader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem 1rem 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    text-transform: uppercase;
    font-size: 16px;
}

.nav__item {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.header__mainTitle {
    text-align: center;
}

.header__subTitle {
    font-size: 55px;
    font-family: 'Kaushan Script', cursive;
}

.mainTitle__title {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}

.mainTitle__title:after {
    content: "";
    display: block;
    width: 10rem;
    height: .5rem;
    margin: 30px auto 60px;
    background-color: #fff;
}


.btnCont {
    display: flex;
    justify-content: center;
}


.btn {
    display: inline-block;
    padding: 8px 30px;
    border: 3px solid white;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: .5rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear, background-color .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: black;
}

@media screen and (max-width: 768px) {
    .mainTitle__title {
        font-size: 65px;
    }

}


@media screen and (max-width: 576px) {
    .mainTitle__title {
        font-size: 50px;
    }

    .header__subTitle {
        font-size: 40px;
        font-family: 'Kaushan Script', cursive;
    }
}